body {
	height: 100px;
	background-color: #89dbd7;
	font: 12px Tahoma, sans-serif, color rgb(5, 5, 5);
	border-top: 10px solid #7e7e7e;
	margin: 0;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}

.wrapper {
	max-width: 960px;
	margin: auto;
	min-height: 100%;

}

.content {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
	padding: 20px 0;
}
 .logo {
    width: 100px;
    height: 100px;
}

form[name="search"] {
	float: right;
       
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #091b1d;
}

.footer {
	position: fixed;
    background-color: #788686;
	font: 12px Tahoma, sans-serif, color rgb(5, 5, 5);
	margin: 0;
	width: 100%;
	text-align: center;
	right: 0;
	bottom: 0;
}

.footer__item {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Courier New', Courier, monospace;
	
}

h1 {
	font-family: 'Courier New', Courier, monospace;

}